{% extends  'base.html' %}

{% block head %}
   {% load static %}
   <link rel="stylesheet" href="{% static 'accounts.css' %}" />
{% endblock head %}

{% block body %}
   <div>
      <form action="" method="POST" class="form-container">
         {% csrf_token %}
         <label for="username">Username:</label>
         {{ form.username }}
         <br>
         <label for="password">Password:</label>
         {{ form.password }}
         
         <input type="submit" value="Login">

         <p class="login-or-register">dont have an account?</p>
         <a href="{% url 'register_view' %}">Register</a>
      </form>
   </div>

{% endblock body %}